.event {
  &-summary {
    text-align: center;
    color: green;
    letter-spacing: 0.1ch;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, 5px 5px 5px lightgreen;
    padding: 1rem;
  }

  &-start {
    font-weight: bold;
    color: darkgreen;
  }

  &-location {
    font-style: italic;
  }

  &-details {
    &__description {
      overflow-x: hidden;
      text-align: left;
    }

    &__htmlLink {
      color: green;
      float: right;
    }
  }
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

.accordion {
  width: 100%;
}
