.container {
  width: 80%;
  margin: auto;
  border: 1px solid;
}
.event {
  &-list {
    &__card {
      width: 80%;
      margin: 10px auto;
    }

    &__title {
      background: darkgreen;
      color: white;
      padding: 1.5rem;
      border-radius: 0.375rem;
    }
  }
}
