.city-search {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 2rem;
  position: relative;
  text-align: center;

  &__city {
    width: 250px;
    color: darkgreen;
    margin: 0 auto;
  }

  &__suggestions {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    z-index: 2;
    font-size: 14px;
    box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);

    &-items {
      color: darkgreen;
      text-align: left;
      background-color: #eee;
      cursor: default;

      &:hover {
        background-color: #bcdcdb;
      }
    }
  }
}
